body {
    background-color: lightblue;
    font-family: verdana;
    font-family: 'Roboto Mono', monospace;
}
h2, h3, h4 {
    color: #3c11a0;
    text-align: center;
    border-style: outset;
    border-color: black;

}
h1{
    color: rgba(94, 176, 201, 0.87);
    text-align: center;
    position: sticky;
}
header {
    margin-top: 25px;
    margin-bottom: 10pt;
    margin-left: 5pc;
    margin-right: 4in;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-right: 11px;
    padding-left: 5em;
}
p{
    margin: 2em, 20ch, 30rem, 10vmin;
    padding: 10rem, 10rem, 10rem, 10rem;
    display: block;
    width: 50em;
    height: 5em;
    max-width: 60em;
    max-height: 10em;
}
.media {
    border-style: ridge;
    border-color: rgb(111, 210, 223);
    border-radius: 20%;
    border-width: .2in;
    padding: 30px, 30px, 30px, 30px ;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    display: inline-block;
    position: relative;
    bottom: 50px;
}
button:hover {
    color: hsl(208, 94%, 72%);
}

a:active {
    color: lightskyblue;
}